<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.syntax.class02.softAssertionExample"/>
      <class name="com.syntax.class02.HardAssertionExample"/>
      <class name="com.syntax.class02.Dependency"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
